<div class="p-[25px]">
    <form nz-form [formGroup]="materialForm" (ngSubmit)="submitForm()">
      <nz-form-item nzGutter="25" class="mb-0">
        <nz-form-control nzErrorTip="Ingresa un concepto.">
          <nz-form-label
              class="text-[15px] font-semibold text-dark dark:text-white/[.87] capitalize mb-[10px]">Concepto</nz-form-label>
          <input formControlName="concepto" style="color:white"
              class="h-[50px] border-normal dark:border-white/10 px-[20px] placeholder-shown:text-light-extra dark:placeholder-shown:text-white/60 rounded-[5px] dark:bg-white/10"
              type="text" nz-input>
        </nz-form-control>

        <nz-form-control nzErrorTip="Ingresa una unidad.">
          <nz-form-label
              class="text-[15px] font-semibold text-dark dark:text-white/[.87] capitalize mb-[10px]">Unidad</nz-form-label>
              <nz-select formControlName="unidad" class="min-w-[260px] capitalize [&>nz-select-top-control]:border-normal dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[5px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60" name="first">
                <nz-option [nzValue]="'PZ'" [nzLabel]="'PZ-Pieza'"></nz-option>
                <nz-option [nzValue]="'HR'" [nzLabel]="'HR-Hora'"></nz-option>
                <nz-option [nzValue]="'LT'" [nzLabel]="'LT-Litro'"></nz-option>
                <nz-option [nzValue]="'CJ'" [nzLabel]="'CJ-Caja'"></nz-option>
              </nz-select>
        </nz-form-control>

        <nz-form-control nzErrorTip="Ingresa un tipo.">
          <nz-form-label
              class="text-[15px] font-semibold text-dark dark:text-white/[.87] capitalize mb-[10px]">Tipo</nz-form-label>

              <nz-select formControlName="tipo" class="min-w-[260px] capitalize [&>nz-select-top-control]:border-normal dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[5px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60" name="first">
                <nz-option [nzValue]="'Mano de obra'" [nzLabel]="'Mano de obra'"></nz-option>
                <nz-option [nzValue]="'Materiales y refacciones'" [nzLabel]="'Materiales y refacciones'"></nz-option>
              </nz-select>
         
        </nz-form-control>

      

        <nz-form-control nzErrorTip="Ingresa una cantidad.">
          <nz-form-label
              class="text-[15px] font-semibold text-dark dark:text-white/[.87] capitalize mb-[10px]">Cantidad</nz-form-label>
          <input formControlName="cantidad" style="color:white"
              class="h-[50px] border-normal dark:border-white/10 px-[20px] placeholder-shown:text-light-extra dark:placeholder-shown:text-white/60 rounded-[5px] dark:bg-white/10"
              type="text" nz-input placeholder="Cantidad">
        </nz-form-control>

        <nz-form-control nzErrorTip="Ingresa una precio.">
          <nz-form-label
              class="text-[15px] font-semibold text-dark dark:text-white/[.87] capitalize mb-[10px]">Precio</nz-form-label>
          <input formControlName="precio" style="color:white"
              class="h-[50px] border-normal dark:border-white/10 px-[20px] placeholder-shown:text-light-extra dark:placeholder-shown:text-white/60 rounded-[5px] dark:bg-white/10"
              type="text" nz-input placeholder="Precio">
        </nz-form-control>

         
          <nz-form-control nzLg="1" nzMd="1" nzXs="24" class="mb-[25px]">
            <nz-form-label
              class="text-[15px] font-semibold text-dark dark:text-white/[.87] mb-[10px]">&nbsp;</nz-form-label>
            <button nz-button 
           
              class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
              <span>Guardar</span>
            </button>
          </nz-form-control>
      </nz-form-item >
     
    
      <nz-form-item nzJustify="end">
        <nz-form-control nzLg="2" nzMd="2" nzXs="24">
          <div class="flex flex-wrap gap-[15px]">
            
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>



    <div class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] relative mb-[25px]">
        <br/>
         <div class="px-[25px] pb-[25px]">
          
           <perfect-scrollbar>
               <div class="w-full max-2xl:overflow-x-auto max-h-[450px]">
                 <nz-table #basicTable [nzData]="filteredData" [nzFrontPagination]="true" [nzShowPagination]="true">
                     <thead>
                         <tr>
                           <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Concepto</th>
                           <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Tipo</th>
                           <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Unidad</th>
                           <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Cantidad</th>
                           <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Precio</th>
                           <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-end text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden rounded-e-[10px] capitalize "></th>
                         </tr>
                       </thead>
                       <tbody>
                        <tr class="group" *ngFor="let person of filteredData">
                          <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ person.concepto }}</td>
                          <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ person.tipo }}</td>
                          <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ person.unidad }}</td>
                          <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ person.cantidad }}</td>
                          <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ person.precio }}</td>
                          <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                            <li >
                              <div class="flex items-center leading-none text-light dark:text-white/60 hover:text-primary">
                                <span (click)="showModalTop(person.id)"  nz-tooltip="Borrar material" class="[&>svg]:w-[20px] [&>svg]:h-[20px] cursor-pointer " nz-icon nzType="delete"
                                  nzTheme="outline"></span>
                              </div>
                            </li>
                          </td>
                        </tr>
                       </tbody>
                 </nz-table>
               </div>
           </perfect-scrollbar>
         </div>
       </div>

  </div>
  <div nz-row nzJustify="end">
    <div nz-col nzSpan="14"></div>
    <div nz-col nzSpan="2"><button nz-button 
        class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
        <span>Cerrar ticket</span>
    </button></div>
  </div>