<div nz-row [nzGutter]="25">
    <div nz-col nzXs="24" nzLg="16" class="mb-[25px]">
      <ng-container>
        <div class="bg-white dark:bg-white/10 rounded-10 pt-[25px] px-[25px] pb-[30px] shadow-[0_5px_20px_rgba(173,181,217,0.05)] mb-[25px]">
            <h4 class="text-[20px] text-dark dark:text-white/[.87] font-medium mb-[25px]">Datos del ticket</h4>
            <div nz-row nzGutter="25">
              <div nz-col nzXs="24" nzMd="8" class="mb-[25px]">
                <div>
                  <h4 class="text-[14px] text-light dark:text-white/60 mb-[12px] font-normal">Solicitante:</h4>
                  <div class="flex items-center mb-[30px] gap-[15px]">
                    <img class="w-[30px] h-[30px] rounded-full" [src]="'assets/images/avatars/tm1.png'" alt="author image">
                    <span
                      class="text-[14px] font-medium text-theme-gray dark:text-white/60 capitalize">Nombre del solicitante</span>
                  </div>
                </div>
              </div>

              <div nz-col nzXs="24" nzMd="8" class="mb-[25px]">
                <div>
                  <h4 class="text-[14px] text-light dark:text-white/60 mb-[12px] font-normal">Estatus:</h4>
                  <div class="flex items-center mb-[30px] gap-[15px]">
                    <span
                    class="inline-flex items-center justify-center bg-danger/10 text-danger min-h-[24px] px-3 text-xs font-medium rounded-[15px] capitalize"
                  >
                    Activo
                  </span>
                  </div>
                </div>
              </div>

              <div nz-col nzXs="24" nzMd="8" class="mb-[25px]">
                <div>
                  <h4 class="text-[14px] text-light dark:text-white/60 mb-[12px] font-normal">Prioridad:</h4>
                  <div class="flex items-center mb-[30px] gap-[15px]">
                    <span style="background-color: rgb(12, 223, 75)"
                    class="inline-flex items-center justify-center min-h-[24px] px-3 text-xs font-medium rounded-[15px] capitalize"
                  >
                  &nbsp;
                  </span>
                  <span
                      class="text-[14px] font-medium text-theme-gray dark:text-white/60 capitalize">Baja</span>
                  </div>
                </div>
              </div>

              <div nz-col nzXs="24" nzMd="8" class="mb-[25px]">
                <div>
                  <h4 class="text-[14px] text-light dark:text-white/60 mb-[12px] font-normal">Fecha de creación:</h4>
                  <div class="flex items-center mb-[30px] gap-[15px]">
                    <span
                      class="text-[14px] font-medium text-theme-gray dark:text-white/60 capitalize">January 20, 2020</span>
                  </div>
                </div>
              </div>

              <div nz-col nzXs="24" nzMd="8" class="mb-[25px]">
                <div>
                  <h4 class="text-[14px] text-light dark:text-white/60 mb-[12px] font-normal">Categoría:</h4>
                  <div class="flex items-center mb-[30px] gap-[15px]">
                    <span
                      class="text-[14px] font-medium text-theme-gray dark:text-white/60 capitalize">Categoría del ticket</span>
                  </div>
                </div>
              </div>

              <div nz-col nzXs="24" nzMd="8" class="mb-[25px]">
                <div>
                  <h4 class="text-[14px] text-light dark:text-white/60 mb-[12px] font-normal">Subcategoria:</h4>
                  <div class="flex items-center mb-[30px] gap-[15px]">
                    <span
                      class="text-[14px] font-medium text-theme-gray dark:text-white/60 capitalize">Subcategoria del ticket</span>
                  </div>
                </div>
              </div>

              <div nz-col nzXs="24" nzMd="8" class="mb-[25px]">
                <div>
                  <h4 class="text-[14px] text-light dark:text-white/60 mb-[12px] font-normal">Departamento:</h4>
                  <div class="flex items-center mb-[30px] gap-[15px]">
                    <span
                      class="text-[14px] font-medium text-theme-gray dark:text-white/60 capitalize">Departamento del ticket</span>
                  </div>
                </div>
              </div>

              <div nz-col nzXs="24" nzMd="8" class="mb-[25px]">
                <div>
                  <h4 class="text-[14px] text-light dark:text-white/60 mb-[12px] font-normal">Area:</h4>
                  <div class="flex items-center mb-[30px] gap-[15px]">
                    <span
                      class="text-[14px] font-medium text-theme-gray dark:text-white/60 capitalize">Area del ticket</span>
                  </div>
                </div>
              </div>


            </div>

            
            <div class="">
              <h4 class="text-[20px] font-semibold leading-1 text-theme-gray dark:text-white/60 mb-[12px]">Título: Título del ticket</h4>
              <p class="text-theme-gray dark:text-white/60 text-[16px] font-normal">There are have a many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to sdsss embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend</p>
            </div>
        </div>
        <div class="bg-white dark:bg-white/10 shadow-[0_5px_20px_rgba(173,181,217,.05)] pt-[25px] px-[25px] pb-[30px] rounded-10">
            <h4 class="font-medium text-dark dark:text-white/[.87] mb-[22px]">Mensajes</h4>
            <div class="max-h-[220px] overflow-x-hidden overflow-y-auto scrollbar" #scrollContainer>
              <!-- ticket user conversation -->
              <ul class="pe-[15px]">
                <li class="flex items-center justify-between flex-wrap mb-[30px]">
                  <div class="flex items-start w-full gap-[10px]">
                    <div class="rounded-full relative inline-flex items-center justify-center">
                      <img src="'assets/images/avatars/tm1.png'" class="bg-gray dark:bg-white/10 w-[30px] h-[30px] rounded-full" alt="image">
                    </div>
                    <div class="flex items-center justify-between flex-wrap w-full">
                      <div>
                        <h6 class="text-[14px] font-medium leading-[1.4285714286] text-dark dark:text-white/[.87]">Juan perez</h6>
                        <div class="text-limit">
                          <p class="text-[16px] font-normal leading-[1.6875] text-theme-gray dark:text-white/60">Mensaje</p>
                        </div>
                      </div>
                      <div class="last-chat-time unread">
                        <small class="text-light dark:text-white/60">1 hora</small>
                      </div>
                    </div>
                  </div>
                </li>

              
              </ul>
            </div>
            <div class="flex items-center flex-wrap gap-[10px] max-xs:flex-col">
              <form action="/" class="flex items-center bg-normalBG dark:bg-white/10 h-[70px] rounded-[35px] px-[25px] transition-all duration-300 flex-1">
                <span class="text-[20px] text-light-extra dark:text-white/60" nz-icon [nzType]="'smile'" [nzTheme]="'outline'"></span>
                <input #newMessageInput class="w-full h-full bg-transparent border-none shadow-none outline-none px-[20px] text-dark dark:text-white/[.87]" type="text" placeholder="Type your message..." aria-label="Message" (keyup.enter)="sendMessage(newMessageInput.value)">
              </form>
              <button nz-button class="border-none bg-primary hover:bg-primary-hbr w-[50px] h-[50px] p-[10px] rounded-full flex items-center justify-center" (click)="sendMessage(newMessageInput.value)">
                <span class="text-[16px] text-white" nz-icon nzType="send" nzTheme="outline"></span>
              </button>
            </div>
          </div>
      </ng-container>
    </div>
    <div nz-col nzXs="24" nzLg="8" class="mb-[25px]">
      <ng-container >
        <div class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative">
            <div class="px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] flex flex-wrap items-center justify-between max-sm:flex-col max-sm:h-auto">
              <h1 class="mb-0 inline-flex items-center py-[16px] max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[18px] font-semibold text-dark dark:text-white/[.87]">Archivos adjuntos</h1>
            </div>
            <div class="px-[25px] pb-[25px] max-sm:mt-[15px]">
              <ul class="p-0">
                <li class="p-0 last:mb-0 mb-[20px] border-none flex items-center justify-between">
                  <div class="flex items-center gap-[15px]">
                    <div class="border-none p-0 items-center">
                      <img class="max-w-[40px] rounded-[5px]" [src]="'assets/images/file/pdf.png'" alt="hexadash Team" />
                    </div>
                    <div>
                      <a class="text-theme-gray text-[15px] dark:text-white/60 hover:text-primary font-medium leading-[19px]" href="#">
                       nombre
                      </a>
                      <div class="text-[15px] text-light dark:text-white/60 leading-1">
                        size
                      </div>
                    </div>
                  </div>
                  <button nz-button class="flex items-center justify-center border-none shadow-none bg-transparent">
                    <span class="text-[18px] text-light dark:text-white/60 dark:hover:text-primary hover:text-primary" nz-icon [nzType]="'download'" nzTheme="outline"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
      </ng-container>
    </div>
  </div>
  